/***CUSTOM CSS *****/


body {
	color: white;
	/* background: white; */
}

#corner {
	width: 150%;
	height: auto;
	/* background: url('/webservices/content/annie-spratt_corner_medium.jpg') no-repeat; */
}

@media (max-width: 904px) {
	#corner {
		width: 400px;
		height: 350px;
		}
}

.contact {
	height: 40px;
	background: background: linear-gradient(90deg, rgba(240,240,240,1) 64%, rgba(255,255,255,1) 100%);
}

ul.contact {
	list-style-type: none;
}

ul>li h2 {
	float: left;
	display: inline;
	font-size: 1.6rem;
	margin: 10px 25px 0px 0px;
	font-weight: 400;
	color: rgba(200, 200, 200, 0.7);
}

li h2.email {
	color: #fb2b61;
}

li.tel {
	color: #c0d4c1;
}

.header {
	margin: 550px 20px 0px 0px;
}

@media (max-width: 904px) {
	.header {
		margin: 70px 0px 0px 30px;
		}
}

/* COLORS */

:root {
  --brand-primary: rgba(103, 254, 203, 1.0);
	--brand-secondary: rgba(76, 52, 214, 1);
	--typecolor: rgba(0, 0, 0, 1);
	--background: rgba(229, 229, 229, 1);
	--focuscolor: rgba(255, 78, 35, 1);

}


/* FONTS, HEADINGS & LINKS */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
	color: var(--typecolor);
	/* text-transform: uppercase; */
}

h1 {
	font-size: 2.5rem;
	font-weight: 800;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 2rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
  word-wrap: break-word;
}

h4 {
	font-size: 1.2rem;
	font-weight: 400;
}

a {
	color: black;
	text-decoration: none;
	background: linear-gradient(to top, var(--brand-primary) 0.5em, transparent 0.5em);
	transition: 0.4s;
}

a:hover {
	color: grey;
	transition: 0.4s;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: none;
}

p a {
	color: black;
	text-decoration: none;
	background: linear-gradient(to top, var(--brand-primary) 0.5em, transparent 0.5em);
	transition: 0.4s;
}

p a:hover {
	color: grey;
	transition: 0.4s;
}

p a:visited {
	color: var(--brand-primary);
	text-decoration: none;
}

button a {
	color: var(--typecolor);
	border-bottom: 0px;
	font-size: 1rem;
	font-weight: 200;
	font-style: italic;
	padding: 0px;
	background: transparent;
}

button a:hover {
	border-bottom: 0px;
}


/* NAV */
.nav  {
	margin-top: 0px;
}

.nav ul {
	list-style-type: none;
	margin-right: 5%;
	margin-top: 40px;
}

.nav .name ul {
	list-style-type: none;
	margin-left: 5%;
	margin-top: 40px;
}


.nav li  {
	margin-left: 20px;
}

 .nav h1 a.nav-item {
  font-size: 1.7rem;
	color: black;
	font-weight: 200;
  /* text-transform: uppercase; */
	text-decoration: none;
	font-style: italic;
	transition: 0.2s ease-in;
}

.nav h1 a.nav-item:hover {
		color: grey;
    transition: 0.2s ease-in;
}

@media (max-width: 576px) {
	.nav h1 a.nav-item {
		font-size: 0.9rem;
		margin-left: 2px;
		}
}

.topbar {
	width: 30%;
	height: 40px;
	background:linear-gradient(to right, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	position: absolute;
	top: 0px;
	left: 0px;
}

.topbar .brand img {
	width: 30px;
	margin: 9px 10px 5px 25px;
}

img.crypto {
	width: 15px;
	position: absolute;
	top: 3px;
	left: 200px;
}

.crypto {
	padding: 5px 20px;
	color: var(--typecolor);
	font-size: 0.7rem;
	font-weight: 200;
	font-style: italic;
	position: absolute;
	top: 7px;
	left: 100px;
}

.crypto:before {
	background-image: url('/webservices/content/ethereum.svg');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	display: inline-block;
	position:absolute;
	top: 2px;
	left: 0px;
	width: 15px;
	height: 20px;
	content:"";
}


.toggler {
	width: 50px;
	height: 50px;
	margin: 40px;
	border-bottom: 6px solid white;
	z-index: 20;
	transform: rotateY(0deg);
	transition: 0.8s;
	position: absolute;
	top: 30px;
	right: 30px;
}

.toggler-rotate {
	border-bottom: 6px solid lightsalmon;
	transform: rotateY(180deg);
	right: 63px;
	transition: 0.4s;
	z-index: 10;
}



/* SECTION HERO */
section.hero {
	height: 860px;
	position: relative;
}

section.hero:after{
	content: "";
	background: url('/webservices/content/bluedge_tower.svg')no-repeat center;
	width: 100%;
	height: 861px;
	background-size: contain;
	position: absolute;
	bottom: -30px;
	left: 0px;
	z-index: -1;
}

@media (max-width: 576px) {
	section.hero:after {
		bottom: 0px;
		left: 0px;
	}
}

.heroelements {
	margin: 3% 0 0 5%;
}

@media (min-width: 576px) {
	.heroelements{
		margin-top: 79%;
		}
}

h1.hero {
	font-size: 4rem;
	font-weight: 200;
	color: var(--typecolor);
}

h3.hero {
	font-size: 2rem;
	font-weight: 200;
	font-style: italic;
}

.claim {
	margin-top: 10%;
	z-index: 200;
}

p.claim {
	font-size: 2rem;
	font-weight: 200;
	font-style: italic;
}

/* .claims:before {
	content: "∑";
	color: var(--brand-primary);
	font-size: 25rem;
	font-weight: 200;
	line-height: 2rem;
	margin: 0px 30px;
	position: absolute;
	top: 100px;
	left:-180px;

} */

/* .claims:after {
	content: "}";
	color: var(--brand-primary);
	font-size: 25rem;
	font-weight: 200;
	line-height: 2rem;
	margin: 0px 30px;
	position: absolute;
	top: 100px;
	right: -120px;
} */


button.btn-claims {
	color: white;
	font-style: italic;
	font-weight: 200;
	/* color: var(--typecolor); */
	padding: 5px 30px;
  background-color: #FF4E23;
  border: 0px solid white;
	border-radius: 5px;
	transition: 0.2s;
	z-index: 300;
}
button.btn-claims:hover {
	background: #B22300;
	transition: 0.2	s;
}

#modal {
	width: 100%;
	height: 100%;
	background: var(--brand-primary);
	position: absolute;
	top: 0px;
	opacity: 0.0;
	z-index: -1;
}

.form-modal {
	padding: 200px;
	padding-right: 600px;
	color: white;
	font-size: 2rem;
	background: var(--brand-primary);
}


.unveil {
	opacity: 1.0 !important;
}

/* HERO BUTTONS OVERRIDES */
.btn-hero {
  color: var(--typecolor);
  background-color: var(--brand-primary);
  border: 2px solid white;
}

.btn-hero:hover {
  color: #fff;
  background-color: grey;
  border-color: grey;
}





/* SECTION TARGETING */
section.targeting {
	background: rgba(137, 191, 233, 0.9);
	background: -webkit-linear-gradient(to bottom, rgba(137, 191, 233, 0.9) 60%, rgba(255,255,255,1) 100%); /*rgba(96, 164, 218, 0.51)*/
	background: -o-linear-gradient(to bottom, rgba(137, 191, 233, 0.9) 60%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(137, 191, 233, 0.9) 60%, rgba(255,255,255,1) 100%);
	padding: 50px 0px;
	position: relative;
}


section.targeting .item {
	background: rgba(255, 255, 255, 1.0);
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(51,51,51,.3);
}


section.targeting img {
	width: 70px;
	float: right;
}

section.targeting .target-item-text p {
	margin-top: 35px;
	font-weight: 200;
}

.highlight {
	color: var(--typecolor);
	background: var(--brand-primary);
	padding: 5px;
}




/* SECTION BENEFITS */
section.benefits{
	background: rgb(229,229,229);
	background: -webkit-linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	padding: 80px 0px;
	position: relative;
}


section.benefits .benefit-item-text p {
	margin-top: 35px;
	font-weight: 200;
}



/** SECTION ANGEBOT **/
section.angebot {
	background: rgb(229,229,229);
  background: -webkit-linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	margin-top: 200px;
	padding: 80px 0px;
	position: relative;
}


section.angebot h2 {
	color: var(--typecolor);
	font-size: 2.2rem; /*2.8rem*/
	font-weight: 800;
	font-style: italic;
}

.angebot .flag  {
	width: 30px;
	height: 30px;
	background: #67fecb;
	background:linear-gradient(45deg, transparent 22px, #67fecb 0);
	position: absolute;
	top: 0px;
	right: 0px;
}

.angebot__box {
	color: var(--brand-primary);
	width: 100%;
	min-width: 200px;
	margin: 100px 30px;
	padding: 60px 30px;
	background: rgba(255,255,255,.1);
	/*background: linear-gradient(144deg, rgba(51,204,255,1) 0%, rgba(103,254,203,1) 100%); */
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(51,51,51,.1);
	transform: rotateY(0deg);
	transition: all 0.4s;
	overflow: hidden;

}

@media (min-width: 900px) {
	.angebot__box:first-of-type {
		margin-left: 0px;
	}
}

.angebot__box:hover {
	background: var(--brand-primary);
	box-shadow: 0 10px 30px rgba(51,51,51,.2);
	transform: rotateY(180deg);
	transition: all 1s;
}

h3.angebot__box--h3 {
	color: var(--typecolor);
	font-style: italic;
}

p.angebot__box--p  {
		color: white;
		font-size: 18px; /*1.5rem*/
		font-weight: 100;
		text-transform: none;
		font-style: normal;
		line-height: 28px;
	}

h3.angebot__box_preis--h3 {
		font-size: 3rem;
	}

button.angebot__box__button a {
		border-bottom: 0px;
		align-self: flex-end;
	}

.modal {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
	margin: 0px auto;
}


.black {
	color: black !important;
}

.red {
	color: #FF4E23 !important;
}


/** SECTION  **/
section.projekte {
	background: white;
	margin-top: 0px;
	padding: 100px 0px;
}

.projekt__box {
	background: white;
	box-shadow: 0 10px 30px rgba(51,51,51,.1);
	min-width: 200px;
	margin: 50px 30px;
	padding: 20px;
	border: 2px solid transparent;
	overflow: hidden;
	transition: 0.4s;
}

.projekt__box:first-of-type {
		margin-left: 0px;
}

.projekt__box:hover {
	border: 2px solid #67fecb;
	transition: 0.4s;
}

/* Flexbox Last-Row-Align-Left-Fix */
.projekte .empty {
    width: 100%; /*the width of the images in this example*/
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
		padding: 0px;
		border: 0px;
}

.projekte .empty .divider {
	display: none;
}

.projekte .empty p::before {
	display: none;
}


.projekte img {
	width: 100%;
}


.projekte h3 {
	color: black;
	font-size: 1.2rem;
	margin-bottom: -3px;
}

.projekte p {
	color: grey;
	font-size: 0.8rem;
	font-style: italic;
}

.projekte p.link {
	color: grey;
	font-size: 0.8rem;
	font-style: italic;
	margin-bottom: 1px;
}

.projekte p.link::before {
	content: '\f0c1';
	color: grey;
	font-family: 'Font Awesome 5 Free';
	font-size: 0.4rem;
	font-weight: 200;
	margin-right: 8px;
}

.projekte p.cms {
	color: grey;
	font-size: 0.8rem;
	font-style: italic;
	margin-bottom: 1px;
}

.projekte p.cms::before {
	content: '\f085';
	color: grey;
	font-family: 'Font Awesome 5 Free';
	font-size: 0.4rem;
	font-weight: 200;
	margin-right: 8px;
}

.projekte .divider {
	width: 80%;
	background: transparent;
	margin: 0px 0px 3px 0px;
	border-bottom: 1px solid grey;
}


/* SECTION TECHNOLOGIE */

section.technologie .deco{
	width: 100%;
	height: 600px;
	background: white;
	border-right: 10px solid var(--brand-primary);
}

section.technologie .tech{
	width: 100%;
	height: 600px;
	background: linear-gradient(45deg, white 10%, var(--brand-primary) 100%);
}






/* SECTION FOOTER */

.footer-wrapper {
	color: var(--typecolor);
	font-size: 0.7rem;
	padding: 50px 20px;
	background: -webkit-linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 60%, rgba(255,255,255,1) 100%);
	z-index: 100;
}

@media (max-width: 576px) {
    .footer-wrapper {
		padding: 0% 0px;
  }
}

.footer-left {
	width:100%;
	height: 100%;
	border: 0px solid grey;
}

.footer-center {
	min-width: 400px;
	height: 100%;
	border: 0px solid grey;
}


.footer-right {
	width:100%;
	height: 100%;
	border: 0px solid grey;
}

@media (max-width: 576px) {
	.footer-right {
		max-width: 400px;
		margin: 50px 0px 0px 50px;

	}
}

footer p {
	color: #000000;
	font-size: 0.9rem;
	padding-left: 50px;
	font-weight: 300;
}

footer figure {
	padding-left: 50px;
}


footer h3 {
	color: var(--typecolor);
	font-size: 1.0rem;
	font-weight: 400;
	margin: 0px 0px 3px 50px;
	text-transform: none;
}

footer a {
	color: var(--typecolor);
}


.img-brand {
	float: left;
	width: 20%;
}

.contact-brand {
	float: left;
	width: 60%;
}

/*** Alert ***/
.alert {
  background: #F26A60;
  width: 80%;
  padding: 40px;
  position: relative;
  font-weight: 600;
  z-index: 999;
}

.close_btn {
	color: #000;
	padding: 15px 0px 5px 10px;
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
}

.content {
  padding: 40px;
}








.box {
	margin-top: -50px;
}

.table {
	margin: 100 0;
}

table {
	color: black;
	width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
	background: lightgreen;
}




/* ACCORDION SNIPPET */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: lightgreen;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:first-of-type {
	border-radius: 10px 10px 0px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: red;
		color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: lightblue;
    overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;
}
.panel:last-of-type {
border-radius: 0px 0px 10px 10px;
}


h2.section-image--h2 {
	color: black;
	font-size: 22px;
	font-weight: 700;
}

p.section-image--p {
	color: grey;
	font-size: 22px;
	font-weight: 300;
	line-height: 26px;
}


/* Utilities */
.border {
	border: 1px solid red;
}

.back {
	background: url("/webservices/assets/images/back.svg")no-repeat center;
	background-size: contain;
	padding: 60px;
}


.inner {
	height: 220px;
	border: 1px solid black;
	padding: 20px;
	background: transparent;
	transition: 0.7s;
}

.inner:hover {
	background: #66f2cd;
	transition: 0.7s;
}
